<section class="vh-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <form action="/adminLogin" method="post">
              <h2 class="mt-3">ADMIN</h2>
              <div class="mb-3">

                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  name="email"
                  class="form-control form-control-lg"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="rithwik@admin"
                />
                {{#if loginErr}}
                  <span class="error text-danger">Invalid username or password</span>
                {{/if}}
              </div>
              <div class="mb-3">
                <label
                  for="password"
                  class="form-label"
                >Password</label>
                <input
                  type="password"
                  name="password"
                  class="form-control form-control-lg"
                  id="exampleInputPassword1"
                  placeholder="1234"
                />

              </div>

              <button type="submit" class="btn btn-dark">Login</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>