<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<section>
<div class="container" style="margin-left:200px;">

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
{{#each value}}
<h1 id="value">{{value}}</h1>
{{/each}}

</div>
</section>



