<section>
    <div class="container" style="margin-left:220px;">
        
        <div class="d-flex align-items-center mb-4">
            <div class="text-decor"><h2>Add Category</h2></div>
        </div>
        <form action="/admin/manageCategory" method="post">
            <div class="form-row d-flex">
                <div class="form-floating col-md-4 mb-3">
                    <input type="text" class="form-control" id="Category_name" name="category"
                        placeholder="Category Name">
                    <label for="Category_name">Category Name</label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary ms-2 h-75">Submit</button>
                </div>
            </div>
        </form>

        <div class="text-decor mt-5">Categories</div>

        <ul class="list-group mt-3 w-50">
            {{#each response}}
            <li class="list-group-item">{{this.category}}
            <a class="float-end" href="/admin/manageCategory/{{this._id}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
            </a></li>
            {{/each}}
        </ul>
    </div>
</section>