<nav class="side-nav" style="position: fixed;">
  <ul class="nav-menu">
    <li><span class="navbar-brand limitedOffer" style="font-size:30px ;">Sneaker Game</span></li>
    <br/>
    <li class="nav-item"><a href="/admin/dashboard"><span
          style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: normal; font-size: 1.4rem;">
          <i class="fa fa-line-chart" aria-hidden="true"></i> Dash board</span></a></li>
    
    <li class="nav-item"><a href="/admin/viewUsers"><span
    style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: normal; font-size: 1.4rem;" >
          <i class="fa fa-user" aria-hidden="true"></i> Users</span></a></li>
    
    <li class="nav-item"><a href="/admin/viewProducts">
    <span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: normal; font-size: 1.4rem;" >
     <i class="fa fa-shopping-cart" aria-hidden="true"></i> Products</span></a></li>
    
    <li class="nav-item fa fa-list-alt"><a href="/admin/manageCategory"> Category
    <span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: normal; font-size: 1.4rem;" >
    </span></a></li>
    
    <li class="nav-item fa fa-truck"><a href="/admin/orders">
    <span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: normal; font-size: 1.4rem;" >
          Order</span></a></li>
    
    <li class="nav-item fa fa-gift"><a href="/admin/offers"><span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: normal; font-size: 1.4rem;" >
          Offer</span></a></li>
    
    <li class="nav-item"><a href="/admin/coupon"><span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: normal; font-size: 1.4rem;" >
         <i class="fa fa-gift" aria-hidden="true"></i> Coupon</span></a></li>      
    
    <li class="nav-item"><a href="/admin/manage-banner"><span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: normal; font-size: 1.4rem;" >
          <i class="fa fa-picture-o" aria-hidden="true"></i> Banner</span></a></li>
    
    <li class="nav-item"><a href="/admin/sales-report"><span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: normal; font-size: 1.4rem;" >
          <i class="fa fa-file" aria-hidden="true"></i> Sales Report</span></a></li>      
  </ul>
</nav>